<h1>The Auroras.live Sensor Network</h1>
<p>The Auroras.live Sensor Network is an alpha product that will let people connect DIY equipment up to the Auroras.live platform for others to use and share</p>
<p>It's still a work in progress, so this page may change frequently</p>
<div class="row header-spacer">
    <a href="#/sensor/introduction" class="nounderline">
        <div class="col-md-5 x-large">
            <h1><i class="fa fa-info-circle"></i></h1>
            <h1>Getting Started</h1>
            <p>Getting started with the Sensor Network</p>
        </div>
    </a>
    <a href="#/sensor/weathercam" class="nounderline">
        <div class="col-md-5 col-md-offset-1 x-large">
            <h1><i class="fa fa-sun-o"></i></h1>
            <h1>Weathercam</h1>
            <p>The Weathercam system</p>
        </div>
    </a>
</div>
