<h1>Introduction</h1>
<p>The Auroras.live Sensor Network is a group of devices that share information back to the Auroras.live API. Other people can then access this information via the API or an interactive map.</p>
<p>Examples of devices could include:</p>
<ul>
    <li>DIY magnetometers</li>
    <li>Cloud cover or aurora cameras</li>
    <li>Internet connected weather stations</li>
</ul>
<p>The DIY nature of the network means anyone can build a device using any hardware / software combination and safely share the information their device logs</p>
<p>To get started, check out the <a href="#/sensor/weathercam">weathercam page</a> which includes sample software for the Raspberry Pi that lets you set up an inexpensive cloud cover camera</p>
