<h1>Weathercam</h1>
<p>The sample weathercam software lets you turn a Raspberry Pi into a simple cloud cover camera, complete with weather overlay</p>
<h2>Getting Started</h2>
<p>For this project you'll need an internet connected <a href="https://www.raspberrypi.org/">Raspberry Pi</a> and <a href="https://www.raspberrypi.org/products/camera-module-v2/">camera module</a> (in addition to everything else you'd need to use the Pi, such as SD card and power supply). Note that this is intended for people who are comfortable with setting up Raspberry Pi's and using the command line in Linux</p>
<p>Once you've got your Pi ready to go, head over to the <a href="https://github.com/auroras-live/weathercam">weathercam GitHub repo</a> and follow the instructions there</p>
<a href="https://github.com/auroras-live/weathercam" class="btn btn-lg btn-primary"><i class="fa fa-github"></i> Weathercam on GitHub</a>
<h2>Example</h2>
<p>This image is a live weathercam running from Hazelwood, Victoria, Australia and refreshes every 5 minutes</p>
<img src="http://api.auroras.live/v1/resources/cams/cam_1.jpg" class="img-responsive">
