
<div class="row">
    <a href="#/api" class="nounderline">
        <div class="col-md-5 xx-large">
            <h1><i class="fa fa-flask"></i></h1>
            <h1>API</h1>
            <p>Use Auroras.live data in your own apps</p>
        </div>
    </a>
    <a href="#/sensor" class="nounderline">
        <div class="col-md-5 col-md-offset-1 xx-large">
            <h1><i class="fa fa-microchip"></i></h1>
            <h1>Sensor Network</h1>
            <p>Contribute data to Auroras.live (Alpha)</p>
        </div>
    </a>
</div>
<div class="row header-spacer">
  <a href="http://issues.auroras.live" target="_blank" class="nounderline">
      <div class="col-md-5 xx-large">
          <h1><i class="fa fa-bug"></i></h1>
          <h1>Issues</h1>
          <p>Report issues and bugs on GitHub</p>
      </div>
  </a>
  <a href="http://github.com/Auroras-live/changelog" target="_blank" class="nounderline">
        <div class="col-md-5 col-md-offset-1 xx-large">
            <h1><i class="fa fa-bullhorn"></i></h1>
            <h1>Changelog</h1>
            <p>See what's new</p>
        </div>
    </a>
</div>
<div class="row header-spacer">
  <a href="https://gitter.im/Auroras-live/Lobby" target="_blank" class="nounderline">
      <div class="col-md-5 xx-large">
          <h1><i class="fa fa-comment"></i></h1>
          <h1>Discussion</h1>
          <p>Chat on Gitter about these products</p>
      </div>
  </a>
  <a href="https://code.auroras.live" target="_blank" class="nounderline">
      <div class="col-md-5 col-md-offset-1 xx-large">
          <h1><i class="fa fa-github"></i></h1>
          <h1>GitHub</h1>
          <p>Browse more code on GitHub</p>
      </div>
  </a>
</div>
<div class="row header-spacer">
  <a href="#/privacy" class="nounderline">
      <div class="col-md-5 col-md-offset-3 xx-large">
          <h1><i class="fa fa-unlock-alt"></i></h1>
          <h1>Privacy</h1>
          <p>What data we collect and how we use it</p>
      </div>
  </a>
</div>
