<h2>{{ include.endpoint.name }}</h2>
<p>{{ include.endpoint.description | markdownify }}</p>

{% if include.endpoint.url %}
  <code>{{ site.api_url }}/{{ include.endpoint.url }}</code>
{% endif %}

{% if include.endpoint.parameters %}
  <br /><br />
  <h3>Parameters</h3>
  <table class="table table-stripe table-hover table-sm">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Required?</th>
      <th>Default Value</th>
      <th>Valid / Sample Values</th>
    </tr>
    {% for param in include.endpoint.parameters %}
      <tr>
        <td>
          <code>{{ param.key }}</code>
        </td>
        <td>
          {{ param.description | markdownify }}
        </td>
        <td>
          {% if param.type[0] %}
            {% for val in param.type %}
              <code>{{ val }}</code>{% if forloop.last == false %} / {% endif %}
            {% endfor %}
          {% endif %}
        </td>
        <td>
          {% unless param.required == false %}
            {{ param.required | markdownify }}
          {% endunless %}
        </td>
        <td>
          {% if param.default %}
            <code>{{ param.default }}</code>
          {% endif %}
        </td>
        <td>
          {% if param.range %}
            <code>{{ param.range[0] }}</code> to <code>{{ param.range[1] }}</code>
          {% elsif param.values[0] %}
            {% for val in param.values %}
              {% if val == "" %}
                etc.
              {% else %}
                <code>{{ val }}</code>{% if forloop.last == false %},{% endif %}
              {% endif %}
            {% endfor %}
          {% elsif param.values %}
            <code>{{ param.values }}</code>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% if include.endpoint.returns %}
  <br /><br />
  <h3>Returns</h3>
  <table class="table table-stripe table-hover table-sm">
    <tr>
      <th>Key</th>
      <th>Description</th>
      <th>Type</th>
      <th>Valid / Sample Values</th>
      <th>Notes</th>
    </tr>
    {% for param in include.endpoint.returns %}
      <tr>
        <td>
          <code>{{ param.key }}</code>
        </td>
        <td>
          {{ param.description | markdownify }}
        </td>
        <td>
          <code>{{ param.type }}</code>
        </td>
        <td>
          {% if param.range %}
            <code>{{ param.range[0] }}</code> to <code>{{ param.range[1] }}</code>
          {% elsif param.values[0] %}
            {% for val in param.values %}
              {% if val == null %}
                etc.
              {% else %}
                <code>{{ val }}</code>{% if forloop.last == false %},{% endif %}
              {% endif %}
            {% endfor %}
          {% elsif param.values %}
            <code>{{ param.values }}</code>
          {% endif %}
        </td>
        <td>
          {% if param.notes %}
            {{ param.notes | markdownify }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endif %}

{% if include.endpoint.demo %}
  {% for demo in include.endpoint.demo %}
    {% if demo.name %}
      <h3>{{ demo.name }}</h3>
    {% endif %}
    {% if demo.description %}
      <p>{{ demo.description | markdownify }}</p>
    {% endif %}
    {% if demo.input %}
      <h4>Example Input</h4>
      {% highlight json %}
{{ demo.input | neat_json }}
      {% endhighlight %}
    {% endif %}
    {% if demo.output %}
      <h4>Example Output</h4>
      {% highlight json %}
{{ demo.output | neat_json }}
      {% endhighlight %}
    {% endif %}
    <br /><br />
  {% endfor %}
{% endif %}

{% if include.endpoint.notes %}
  <br /><br />
  <h3>Notes</h3>
  <p>{{ include.endpoint.notes | markdownify }}</p>
{% endif %}
