<h3>Table of Contents</h3>
<ul id="toc">
  {% for nav in site.data.navigation %}
    {% for item in nav[1] %}
      {% unless item.children[0] %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endunless %}
      {% if item.children[0] %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        <ul>
          {% for child in item.children %}
            <li>
              <a href="{{ child.url }}">{{ child.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endfor %}
 </ul>
