body {
  background: #272b30 url(../images/background.jpg) repeat-x fixed;
}
h1, h2, h3, h4, h5, p, b, div {
  font-family: 'Open Sans' !important;
}
.navbar-inverse {
  background: rgba(128, 128, 128, 0.75) !important;
  border: none !important;
}
.widget {
  border: 1px solid #444;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.025);
}
svg {
  height: auto !important;
}
.center {
  margin: 0 auto;
}
.nounderline:hover {
  text-decoration: none !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: white !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background: rgba(255, 255, 255, 0.075);
  color: white;
}

a:link {
  color: #DDDDDD !important;
}

a:visited {
  color: #BBBBBB;
}

.dropdown-menu {
  background: rgba(128, 128, 128, 1) !important;
}

.dropdown-menu a:hover {
  background: rgba(64, 64, 64, 0.75) !important;
}

.toc-button {
  margin-bottom: 5px;
  padding-left: 10px;
}

.toc-indent {
  margin-left: 10px !important;
}

pre, code {
  background: rgba(255,255,255,0.1) !important;
  color: white;
  border: 1px solid rgba(255,255,255,0.5);
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
}

td > code {
  white-space: nowrap;
}

pre code {
  background: none !important;
  border: none;
  padding: auto;
}
